* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "header header"
    "sidebar nav"
    "sidebar article"
    "footer footer";
  gap: 4px;
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  background-color: #393f4d;
}

.logo {
  justify-self: self-start;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  gap: 50px;
  background-color: #c50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.photo,
.side-content {
  display: grid;
  align-items: center;
}

.nav {
  grid-area: nav;
  background-color: #c50208;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  grid-area: article;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  height: 200px;
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
